venv/
.venv/
env/
ENV/

__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

.DS_Store

/local/
/data/
/outputs/
/runs/

*.tmp
*.log
*.swp
*~
src/preprocessing/tempCodeRunnerFile.py

notebooks/archived/